.app_onde {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.app_onde_text {
    font-family: 'Avenir';
    text-decoration: none;
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-right: 3rem;
    margin-left: 3rem;
}
    
.app_onde_text_header {
    width: 30rem;
    height: 15rem;

    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: right;
}

.app_onde_text_under {
    width: 25rem;

    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-align: right;
}

.app_onde_dei img{
    width: 50%;
    height: auto;
    position:fixed;
    bottom: 0rem
}

@media screen and (max-width: 580px){
    .app_onde_dei img {
        transition: 0.5s;
        width: 0;
    }
}
@media screen and (min-width: 580px){
    .app_onde_dei img {
        transition: 0.5s;
    }
}
