.app_onde {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.app_onde_text {
    font-family: 'Avenir';
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #FFFFFF;
    width: auto;
    height: 0rem;
    margin: 5rem 0;
}

.app_onde_header {
    display: flex;
    justify-content: flex-end;
    float: right;
    margin: 0 4rem;

    font-weight: 600;
    font-style: normal;
    font-size: 41px;
    line-height: 51px;
    text-align: right;
    height: 0rem;
    width: 501px;
}

.app_onde_under {
    display: flex;
    justify-content: flex-end;
    float: right;
    margin: 10rem 4rem;

    width: 422px;
    height: 1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    text-align: right;
}

.app_onde_dei img{
    width: 50%;
    height: auto;
    position:fixed;
    bottom: 0rem
}

@media screen and (max-width: 580px){
    .app_onde_dei img {
        transition: 0.5s;
        width: 0;
    }
}
@media screen and (min-width: 580px){
    .app_onde_dei img {
        transition: 0.5s;
    }
}
