@import url("https://fonts.cdnfonts.com/css/clash-display");
@import url("https://fonts.cdnfonts.com/css/Inter");

.app_faq {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin-top: 5vh;
  overflow-wrap: break-word;
  text-align: left;
  z-index: 100;
}

.app_faq h1 {
  text-align: center;
  /* LETTER */
  font-style: normal;
  font-size: 40px;
  line-height: 49px;
  /* letter-spacing: 0.06em; */
  text-transform: uppercase;

  /* White */
  color: #ffffff;

  margin-top: 40vh;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 4rem;
  border: 1px solid #ffffff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0.6rem 5rem;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  font-family: "Inter", "sans-serif";

  /* apply fadein animation to the question-container */
  animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
  -moz-animation: fadein 0.5s; /* Firefox */
  -o-animation: fadein 0.5s; /* Opera */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
}

.question_div h2 {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* White */

  color: #FFFFFF;

}

.question_div {
  display: flex;
}

.question_head {
  width: 100%;
}

.button-container p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  /* white */

  color: #FFFFFF;

}

.button-container {
  margin-top: -0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-container span {
  font-family: "Inter", "sans-serif";
  font-weight: 200;
  padding-bottom: 0.5rem;
}

.question-container.open {
  height: auto;
  max-height: 20rem;
}

.question-container span.open {
  opacity: 1;
}

.question-container span.hide {
  opacity: 0;
  animation: fadeout 0.5s;
  -webkit-animation: fadeout 0.5s; /* Safari and Chrome */
  -moz-animation: fadeout 0.5s; /* Firefox */
  -o-animation: fadeout 0.5s; /* Opera */
  -ms-animation: fadeout 0.5s; /* Internet Explorer */
}

.btnrotate {
  font-family: "Inter", "sans-serif";
  cursor: pointer;
  font-weight: 400;
  font-size: 2rem;
  transition: transform 0.4s ease-in-out;
}

.rotated {
  transform: rotate(45deg);
  transition: transform 0.25s ease-in-out;
}

.faq_answer {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */

  letter-spacing: 0.02em;

  /* White */

  color: #FFFFFF;

}

@media (max-width: 1024px) {
  .question-container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0.6rem 0rem;
  }
}

@media (max-width: 670px) {
  .app_podcast {
    padding: 0rem 2rem;
  }
}

/* opacity animation */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
