.Temas{
    margin: 7vh 0;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
}

.title h1{
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 3rem;
}

.flex-dots {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 15vw;
    margin: 2rem auto;
}

.dots {
    transition: all .5s ease-in-out;
    height: 2vh;
    margin: 0 0.5rem;
}

.carousel-geral {
    position: relative;
    width: 80%;
    z-index: 3;
}

@media screen and (max-width: 1248px) {
    .carousel-geral{
        width: 75%;
    }
    .card-container{
        align-items: center;
        align-self: center;
        z-index: 3;
    }
}  
@media screen and (max-width: 480px) {
    .carousel-geral{
        width: 95%;
    }
}  