.theme{
    text-align: center;
}

.theme h1{
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 5rem;
}

.flex-dots {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 15vw;
    margin: 3rem auto;
}

.dots {
    transition: all .5s ease-in-out;
    height: 2vh;
    margin: 0 0.5rem;
}

.carousel-geral {
    position: relative;
    width: 100%;
    z-index: 3;
}

@media screen and (max-width: 1024px) {
    .card-container{
        align-items: center;
        align-self: center;
        z-index: 3;
    }
}  