.About {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-text {
    width: 80%;

    font-weight: 600;
    font-size: 200%;
    line-height: 129%;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

@media screen and (max-width: 670px) {
    .about-text {
        width: 85%;
        /* font-size: 16px; */
        line-height: 80%;
        font-weight: 400;

    }
    h3{
        font-size: 1.1rem;
    }
}