@import url("https://fonts.cdnfonts.com/css/clash-display");
@import url("https://fonts.cdnfonts.com/css/Inter");

.app_podcast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative; 
  text-align: center;
  
  /* height: 50vh; */
  
  font-size: 24px;
  margin: 10vh 0;
  
  z-index: 5; 
}

.app_podcast p {
  text-align: center;
  /* padding: 4rem 0rem; */
}

.content{
  width: 80%;
  max-width: 1200px;

}

.color_g_brev {
  font-weight: 600;
  text-align: center;
  font-size: 24px;
  /* letter-spacing: 0.05em; */
  text-transform: uppercase;
  color: #9FF491;
  margin-top: 2rem;
  margin-bottom: 0.8rem;

}


@media (max-width: 670px) {
  .app_podcast h4 {
    /* line-height: 19px; */
    /* font-size: 18px; */
  }
}