@import url("https://fonts.cdnfonts.com/css/clash-display");
@import url("https://fonts.cdnfonts.com/css/Inter");

.app_podcast h2 {
  font-family: "Inter", "sans-serif";

  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}


.color_g_brev {
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #9FF491;
  margin-top: 2rem;
  margin-bottom: 0.8rem;

}

.app_podcast h1 {
  padding: 4rem 0rem;
}

.app_podcast {
  padding: 0rem 6rem;
  font-family: "Inter", "sans-serif";
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 50vh;


  height: 170vh;
  display: flex;
  flex-direction: column;
  z-index: 2; 
}

.bg-gradientfooter {
  overflow: hidden;
  position: relative;
  margin-right: -20px;
  margin-top: -90vh;
  bottom: 0px;
  height: 90vh;
  z-index: 1;
  background-image: url("../../assets/gradiente_softmiddle.png");
  background-position: center right;
  background-repeat: no-repeat;
  /* contain*/
  background-size: contain;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.color_g {
  /* h4 */

  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  /* Green */

  color: #9FF491;
}


@media (max-width: 630px) {
  .app_podcast span {
    padding: 1rem 1rem;
    font-size: 16px;
    line-height: 19px;
  }
}