.app_evento {
    
   
    
    
    display:block;


}

.app_evento_conteudo {
    display:flex;
    
    
}
.app_evento_descricao {
    padding: 3rem 4rem; 
    flex: 1;
}

.app_evento_descricao h1 {
   
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size:36px;
    font-weight: 600;
    line-height:100%;
    position:relative
}

.app_evento_descricao p {
    color: #4EF279;
    font-weight: 600;
    font-size:20px;
    position:relative;
}

.app_evento_imagem{
    height:100%;
    
}
.app_evento_imagem img{
    position:relative;
    height:400px;
    width: 400px;
    padding: 0rem 4rem;
}

@media screen  and (max-width:1050px) {
    .app_evento_descricao h1{
        font-size:32px;
    }
    .app_evento_imagem img{
        padding:0rem 2rem;
    }

}

@media screen and (max-width:932px) {
    .app_evento_descricao h1 {
        font-size: 28px;
    }
    .app_evento_imagem img{
        padding:1rem 2rem;
        width:350px;
        height:350px;
    }
}

@media screen and (max-width:840px) {

    .app_evento_descricao {
        padding: 4rem 3rem;
    }


}
@media screen and (max-width:817px) {
    .app_evento_descricao  {
       padding:4rem 2rem
    }
}    
@media screen and (max-width:770px) {
    
}