.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.navbar-logo img {
    width: 4rem;
    transition: 1s ease;
}

.navbar-logo img:hover {
    transform: scale(1.1);
}

.navbar-pt-en {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.7rem;
    color: white;
}

.navbar-pt-en a {
    margin: 0 .3rem;
    text-decoration: none;
    transition: 2s ease;
}

.navbar-pt-en a:hover {
    border-bottom: 1px solid white;
}

.navbar-pt-en a:visited {
    color: white;
    border-bottom: 1px solid white;
}