.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

}

#video {
    z-index: -2;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.home-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    position: absolute;
    z-index: 2;
}

.home-logo img {
    width: 68rem;
    z-index: 2;

}

.home-sub-heading {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;

    margin-top: 15rem;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    z-index: 2;

}

@media screen and (max-width: 480px) {
    .home-logo {
        padding-bottom: .5rem;
    }

    .home-logo img {
        width: 21rem;
    }

    .home-sub-heading {
        font-size: 1rem;
    }
}

@media screen and (max-width: 300px) {
    .home-logo img {
        width: 16rem;
    }

    .home-sub-heading {
        font-size: .75rem;
    }
}