.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 72vh;

    padding-bottom: 8rem;
}

.home-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.home-logo img {
    width: 68rem;
}

.home-sub-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}