.card-container {
    overflow: hidden;
    transition: 0.5s;
    animation: ease-in-out;
    align-content: center;

    width: 20rem;
    height: 20rem;

    cursor: pointer;
}

.card-container:hover {
    transform: scale(1.01);
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-content h3,
p {
    color: #FFFFFF;
    margin: 0;
    padding: 1rem 0 0 1rem;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Inter', sans-serif;

    transition: 0.5s;
}

.card-content p {
    padding: 0 0 0 1rem;
}

.card-pic {
    display: flex;
    align-items: center;
    margin: 1rem 0 0 0;
}

.card-pic img {
    width: 17rem;
    height: 17rem;

    border: 3px solid white;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;

    width: 17rem;
    height: 17rem;
    border: 3px solid white;

    background-color: black;

    margin: 0 0 0 1rem;
}

.card-fade {
    position: absolute;
    opacity: 1;
    animation-name: fade-in;
    animation-duration: .7s;
    animation-fill-mode: both;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media screen and (max-width: 1024px) {
    .card-container {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}