.Team {
    display: flex;
    flex-direction: column;
}

.team-title {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 5rem;
}

.team-header {
    display: flex;
    justify-content: center;

    font-weight: 600;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.team-entities {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}

.team-entities-logos img {
    height: 3.5rem;
    padding: 0rem 1rem;
}