.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

#video {
  z-index: -2;
  align-self: center;
  width: 100%;
  height: 100%;
}

video{
  object-fit: fill;
}

.wrapperGradient {
  position: relative;
  width: 100%;
  height: 100%;
}

.wrapperGradient::after {
  position: absolute;
  bottom: -2px; /* Leave this here, line bug */
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: linear-gradient(180deg, rgba(17, 26, 38, 0) 0%, #111a26 100%);
  backdrop-filter: blur(10px);
}

.home-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  position: absolute;
  z-index: 2;
}

.home-logo img {
  width: 90%;
  max-width: 1800px;
}

.home-sub-heading {
  position: absolute;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;

  margin-top: 15rem;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  z-index: 2;
}

@media screen and (max-width: 480px) {

  /* for small screens make sure it fills the height */
  #video {
    height: 100%;
  }

  .home-logo {
    padding-bottom: 0.5rem;
  }

  .home-logo img {
    width: 21rem;
  }

  .home-sub-heading {
    font-size: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .home-logo img {
    width: 16rem;
  }

  .home-sub-heading {
    font-size: 0.75rem;
  }
}

/* for large screens make sure it filled the widths*/
@media screen and (min-width: 1920px) {
  #video {
    width: 100%;
  }
}