.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 100%;
    padding: 3rem 0 2rem 0;
    top: 0;
}

.navbar img {
    width: 4rem;
    transition: 1s ease;
    padding-left: 2rem;
}

.navbar-logo img:hover {
    transform: scale3d(1.1);
}


.inscricao_nav {
    margin-right:2rem;
    z-index: 2;
    background-color: transparent;
    border: 2px solid #fff;
    
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}

.inscricao_nav a {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    color: #fff;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-decoration: none;
  }


.inscricao_nav:hover {
    background-color: rgba(159, 244, 145, 0.5);
}
.navbar-pt-en {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.7rem;
    color: white;
    padding-right: 4rem;
    text-decoration: none;
    font-weight: 300;
}

.navbar-pt-en a {
    margin: 0 .3rem;
    text-decoration: none;
    transition: 2s ease;
    color: #fff;
}

.navbar-pt-en a:hover {
    border-bottom: 1px solid white;
}

.navbar-pt-en a:visited {
    color: white;
    border-bottom: 1px solid white;
}

@media screen and (max-width: 480px) {
    .navbar-logo img {
        
    }

    .navbar-pt-en {
        padding-right: 1.5rem;
        font-size: 1.2rem;
    }

    .navbar {
        padding-top: 2rem;
    }
}