.landing {
    display: flex;
    flex-direction: column;
    background-color: #111A26;
    z-index: 0;
    background-image: url("../../assets/gradiente_soft.png");
    background-repeat: no-repeat;
    background-position: -20vw 65%;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

h1{
    font-size: 40px;
}
h3{
    font-size: 32px;
}