@import url('https://fonts.cdnfonts.com/css/clash-display');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

*::selection {
  color: #552ACF;
  background: #9FF491;
}

.center {
  display: flex;
  align-content: center;
  justify-content: center;
}

body {
    font-family: 'Clash Display', sans-serif;
    color: white;
}

.text_footer_header {
  font-family: 'Clash Display', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: white;
}